<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Update event</title>
</head>

<body style="background-color: #B595BC;">
    <div
        style="border-radius: 9px;width: 600px; height: 570px;  margin-left: auto;margin-right: auto; margin-top: 5%; background-color: white; box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);">
        <p style="margin: 1% 0 0 5%; font-size: 25px; color: #B595BC;">Update Event</p>
        <form style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 2%;"
            action="/update_event/<%- eventList._id %>" method="POST">
            <div class="ui form">
                <div class="field w-96 pl-10 pt-10">
                    <label style="color: #79677d;">Event Name</label>
                    <input type="text" name="eventName1" value="<%= eventList.eventName1 %>" placeholder="Event Name" />
                </div>

                <div class="field w-96 pl-10 pt-3">
                    <label style="color: #79677d;">Event Mode</label>
                    <input type="text" name="eventMode1" value="<%= eventList.eventMode1 %>" placeholder="Event Mode" />
                </div>

                <div class="field w-96 pl-10 pt-3">
                    <label style="color: #79677d;">Event Category</label>
                    <input type="text" name="eventType1" value="<%= eventList.eventType1 %>"
                        placeholder="Event Category" />
                </div>

                <div class="field w-96 pl-10 pt-3">
                    <label style="color: #79677d;">Date</label>
                    <input type="date" name="date1" value="<%= eventList.date1 %>" placeholder="Date" />
                </div>
                <div class="field w-96 pl-10 pt-3">
                    <label style="color: #79677d;">Region</label>
                    <input type="text" name="region1" value="<%= eventList.region1 %>" placeholder="Region" />
                </div>
                <div class="field w-96 pl-10 pt-3">
                    <label style="color: #79677d;">Organizer</label>
                    <input type="text" name="organizerName1" value="<%= eventList.organizerName1 %>"
                        placeholder="Organizer" />
                </div>

                <button class="ui purple button" type="submit" value="Submit"
                    style="margin: 10px 0 0 410px">Update</button>
            </div>
        </form>
    </div>
</body>

</html>